body {
    background-color: lightblue;
    font-family: Arial Black;
}

h1 {
    color: darkred;
    text-align: center;
    text-decoration: none;
}

h4 {
    color: black;
    text-align: center;
    font-family: Arial Black;
}

a {
  text-decoration: none;
}